@{
    ViewData["Title"] = "Acesso negado";
}

<h1 class="mb-4 text-danger">@ViewData["Title"]</h1>
<p>Não tem permissões para aceder a esta funcionalidade.</p>
<p><a asp-controller="Home" asp-action="Index">Voltar ao início</a></p>