@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Biblioteca Municipal!</h1>
    <p><h1 class="display-4"> Acompanhe o catálogo, reserva livros e descubra novos mundos!</h1></p>
</div>
